* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.card-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "flip-card-1 flip-card-2 flip-card-3 flip-card-4 flip-card-5 flip-card-6" "flip-card-7 flip-card-8 flip-card-9 flip-card-10 flip-card-11 flip-card-12";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  margin: 5px;
}

.flip-card-container-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: flip-card-1;
}

.flip-card-container-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: flip-card-2;
}

.flip-card-container-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: flip-card-3;
}

.flip-card-container-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: flip-card-4;
}

.flip-card-container-5 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: flip-card-5;
}

.flip-card-container-6 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: flip-card-6;
}

.flip-card-container-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: flip-card-7;
}

.flip-card-container-8 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: flip-card-8;
}

.flip-card-container-9 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: flip-card-9;
}

.flip-card-container-10 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: flip-card-10;
}

.flip-card-container-11 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: flip-card-11;
}

.flip-card-container-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: flip-card-12;
}

.flip-card-container {
  width: 300px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card-container .flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.flip-card-container .flip-card .flip-card-front, .flip-card-container .flip-card .flip-card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-container .flip-card .flip-card-front {
  background-color: black;
  color: white;
}

.flip-card-container .flip-card .flip-card-back {
  color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-container .flip-card .card-1 {
  background-image: url("../assets/images/monkey-1.jpg");
  background-size: cover;
  background-position-x: center;
}

.flip-card-container .flip-card .card-2 {
  background-image: url("../assets/images/monkey-2.jpg");
  background-size: cover;
}

.flip-card-container .flip-card .card-3 {
  background-image: url("../assets/images/monkey-3.jpg");
  background-size: cover;
  background-position-x: center;
}

.flip-card-container .flip-card .card-4 {
  background-image: url("../assets/images/monke-4.jpg");
  background-size: cover;
  background-position-x: center;
}

.flip-card-container .flip-card .card-5 {
  background-image: url("../assets/images/monke-5.jpg");
  background-size: cover;
  background-position-x: center;
}

.flip-card-container .flip-card .card-6 {
  background-image: url("../assets/images/monke-6.jpg");
  background-size: cover;
  background-position-x: center;
}
/*# sourceMappingURL=style.css.map */